<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
	    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 开启SpringMVC注解支持 -->
	<mvc:annotation-driven />
	<!-- 静态资源由Web服务器默认的Servlet来处理 -->
	<mvc:default-servlet-handler />
    <context:component-scan base-package="com.github.xkylin.example.springmvc.web" />

	<!-- 编码问题 -->
	<mvc:annotation-driven ignore-default-model-on-redirect="true">
		<mvc:message-converters register-defaults="false">
			<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes" value="text/plain;charset=UTF-8" />
			</bean>
			<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>text/json;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- SpringMVC提供的简单异常处理器 -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<!-- 定义默认的异常处理页面，exceptionMappings未指定的异常会引导到这里指定的视图处理，视图路径相对viewResolver指定路径 -->
		<property name="defaultErrorView" value="error"/>
		<!-- 定义异常处理页面用来获取异常信息的变量名，也可不定义，默认名为exception -->
		<property name="exceptionAttribute" value="ex"/>
		<!-- 定义需要特殊处理的异常，这是重要点 -->
		<property name="exceptionMappings">
			<props>
				<!-- 视图路径相对viewResolver指定路径 -->
				<prop key="com.github.xkylin.example.springmvc.exception.UserRegisterException">user/info</prop>
			</props>
		</property>
	</bean>
	<!-- 静态资源访问权 -->
	<!--<mvc:resources mapping="/assets/**" location="/assets/" />-->

	<!-- 拦截器 -->
	<!--<mvc:interceptors>-->
		<!--<mvc:interceptor>-->
			<!--<mvc:mapping path="/**" />-->
			<!--<bean class="com.seed.mybatis.web.interceptor.SingleLoginInterceptor" />-->
		<!--</mvc:interceptor>-->
	<!--</mvc:interceptors>-->

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"/>
		<!-- 上传文件最大Size，单位bytes -->
		<property name="maxUploadSizePerFile" value="5242880"/>
	</bean>

	<!--视图-->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/"/>
		<property name="suffix" value=".jsp"/>
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	</bean>
</beans>
